@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

body {
  font-family: "Inter", sans-serif;
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
p {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
}
h5 {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
}
/* banner */
.bannar-container {
  max-width: 1440px;
  height: 715px;
  margin: 0 auto;
  background: linear-gradient(180deg, rgb(39, 38, 38), rgba(0, 0, 0, 0.9) 100%);
}
/* nav */
.bannar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1060px;
  height: 46px;
  padding: 70px 0;
}
.logo {
  color: #e6533c;
  font-size: 2.1rem;
  font-weight: 800;
}
.nav-context {
  max-width: 465px;
  height: 46px;
  display: flex;
  gap: 47px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 280px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
  padding-right: 20px;
}
.nav-context > p {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.nav-home {
  border-radius: 46px;
  padding: 8px 20px;
  font-weight: 600;
  background: rgb(230, 83, 60);
}
.bannar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1060px;
}
.bannar-context {
  width: 520px;
  height: 440px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-right: 32px;
}
.bannar-context > h1 {
  font-size: 4.9rem;
  font-weight: 900;
  color: #ffffff;
  line-height: 95px;
}
.bannar-context > p {
  color: #ffffff;
  opacity: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.shape {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 8.5rem;
}
.bannar-btn {
  width: 224px;
  height: 54px;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  margin: 10px 5px;
}
.bannar-img {
  position: relative;
}
.bnr-image {
  margin-left: 150px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  width: 349px;
  height: 595px;
}
.btn-img {
  position: absolute;
  width: 193px;
  height: 98px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  bottom: 380px;
  left: 390px;
}
.button-two {
  width: 206px;
  height: 96px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  position: absolute;
  top: 420px;
  right: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  margin-left: 8px;
}
.text > h3 {
  font-size: 1.9rem;
  font-weight: 900;
  color: rgb(250, 250, 249);
}
.text > p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.btn-img > h1 {
  color: rgb(255, 255, 255);
  font-size: 2.4rem;
  font-weight: 900px;
  text-align: start;
  padding-left: 25px;
}
.btn-img > p {
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  font-weight: 400;
}
.round {
  background-color: #e6533c;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.icon {
  color: #ffffff;
  display: none;
}
/* change your habits */
.change-top {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1060px;
  background-color: black;
}
.change-context {
  width: 1044px;
  height: 452px;
  margin-top: 60px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.change-context > h1 {
  margin-bottom: 18px;
}
.change-img {
  height: 274px;
  display: flex;
  margin-top: 50px;
}
.image-context {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image-context > h5 {
  margin-top: 15px;
  margin-bottom: 10px;
}
.img-img {
  border-radius: 50%;
  border: 4px solid rgb(63, 63, 63);
}
/* run section */
.run-top {
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.run-containar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(34, 34, 34);
  width: 1060px;
  height: 371px;
  border-radius: 18px;
  margin: 0 auto;
}
.run-context {
  width: 443px;
  height: 290px;
  justify-content: start;
  align-items: center;
}
.run-context > h1 {
  margin-bottom: 18px;
}
.run-context > p {
  margin-bottom: 18px;
}

.run-img {
  width: 366px;
  height: 312px;
  background-image: url(../images/run23.jpg);
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  align-items: center;
}
.run-full-img {
  width: 366px;
  height: 312px;
  background-image: url(../images/run.jpg);
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  border-radius: 18px;
}

@media screen and (max-width: 576px) {
  .nav-context {
    display: none;
  }
  .icon {
    display: block;
    font-size: 1.6rem;
  }
  .bannar-nav {
    margin: 0 20px;
  }
  .bannar-top {
    flex-direction: column;
    width: 100%;
  }
  .bannar-container {
    height: auto;
  }
  .bannar-context {
    width: 90%;
    margin-left: 15px;
    padding-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .bannar-context > h1 {
    font-size: 2.4rem;
    line-height: 45px;
  }
  .shape {
    font-size: 4.2rem;
    font-weight: 200;
  }
  p {
    font-size: 1rem;
    font-weight: 200;
    width: 274px;
    height: 96px;
  }
  .btn-top {
    display: flex;
  }
  .bannar-btn {
    width: 169px;
    height: 54px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
  }
  .club {
    display: none;
  }
  .bannar-img {
    width: 353px;
    height: 588px;
    margin-top: 0px;
  }
  .bnr-image {
    margin-left: 0px;
    padding-bottom: 7px;
    padding-top: 5px;
  }
  .btn-img {
    left: 195px;
    width: 145.91px;
    height: 74.09px;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 450px;
  }
  .btn-img > h1 {
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 12px;
    width: 88px;
  }

  .btn-img > p {
    font-size: 0.6rem;
    font-weight: 400;
    width: 111px;
    justify-content: center;
    align-items: center;
    padding-left: 18px;
    color: #ffffff;
    opacity: 65%;
  }
  .button-two {
    width: 155.74px;
    height: 72.58px;

    top: 270px;
    right: 187px;
  }
  .round {
    width: 30.24px;
    height: 30.24px;
    margin-top: 7px;
    margin-left: 10px;
  }
  .text {
    justify-content: start;
    align-items: center;
    padding-top: 80px;
  }
  .text > h3 {
    font-size: 1.1rem;
    font-weight: 900;
    width: 51px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .text > p {
    font-size: 0.8rem;
    font-weight: 400;
    width: 82px;
  }
  /* change part */
  .change-top {
    width: 338px;
    display: block;
    height: auto;
  }
  .change-context {
    padding-top: 0;
    width: 95%;
    height: auto;
  }
  .change-context > h1 {
    width: 318px;
    height: 38px;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-left: 10px;
  }
  .change-context > p {
    width: 316px;
    height: 72px;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    margin-left: 10px;
  }
  .change-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    height: auto;
  }
  .image-context {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .image-context > h5 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 0px;
  }
  .image-context > p {
    width: 231px;
    height: 36px;
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 40px;
  }
  /* run */

  .run-top {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
  }
  .run-containar {
    width: 340px;
    height: 531px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  .run-context {
    width: 287px;
    height: 264px;
  }
  .run-context > h1 {
    font-size: 2rem;
    font-weight: 900;
  }
  .run-context > p {
    font-size: 0.8;
    font-weight: 400;
  }
  .run-context > button {
    width: 287px;
    height: 54px;
    font-size: 1.1rem;
    font-weight: 600px;
  }
  .run-img {
    display: none;
  }
  .run-full-img {
    display: block;
    width: 287px;
    height: 170px;
  }
}
